* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    /* background-color: aliceblue; */
    text-align: center;
    padding: 20%;
}

nav h1 {
    text-transform: uppercase;
    color: aqua;
    font-size: 5em;
}

nav p {
    color: red;
    text-transform: capitalize;
    font-size: 3em;
}

.topnav {
    background-color: aliceblue;
}


/* .topnav ul li a {
    list-style: none;
    text-decoration: none;
    position: absolute;
} */


/* Style the links inside the navigation bar */

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}